.menu {
  width: 250px;
  background-color: var(--dark-color);
}

.navigate {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 90px);
}

.logo {
  min-width: 214px;
  text-align: center;
  box-shadow: 11px -21px 31px var(--white-color);
}

.logo__img {
  padding: 10px 0;
  width: 214px;
  object-fit: cover;
}

.list-nav {
  padding-top: 50px;
}

.list-nav .list-mod {
  list-style-type: none;
  padding-left: 15px;
}

.list__link {
  height: 50px;
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: var(--white-color);
  transition: all 0.3s ease;
}

.list__link:hover {
  color: #dedb26bd;
  transition: all 0.3s ease;
}

.list__img {
  width: 20px;
  height: 20px;
}
